@charset "UTF-8";
/*폰트*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'); /*font-family: 'Nanum Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); /*font-family: 'Nanum Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap'); /*font-family: 'Nunito', sans-serif;*/

/*초기화*/
div,p,span,table,th,td,ul,li,ol,dl,dt,dd,form,fieldset,input,textarea,select{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0;font-weight:normal;}
html {overflow-y:scroll}
*{ margin:0; padding:0; list-style:none;font-family: 'Nunito', sans-serif;}
body{min-width: 1200px;margin: 0 auto;color:#6f6f6f;font-weight: normal;}
body, html { height: 100%;margin:0;padding:0}
ul,dl,dt,dd {margin:0;padding:0;list-style:none}
img {max-width:100%; height:auto;border:0;}
input, textarea, select{border: 1px solid #d1d1d1; font-size: 14px;resize: none;}
label, input, button, select, img {vertical-align:middle;}
button {cursor:pointer}
iframe {border: 0;}
table {border-spacing: 0;border: 0;outline: none;border-collapse:collapse;}
address {font-style:normal}
a {color:#000;text-decoration:none;border: 0;padding: 0;margin: 0;}
*, :after, :before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button:focus, a:focus {outline: none;}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}